#heading{
    background-color: aqua;
    text-align: center;
}
body{
    background-color: chartreuse;
    text-align: center;
}
#sketch{
    float: right;
}
#box{
    border:3px ridge grey;
    padding:10px;
    width:40%;
    margin-left:600px; 
}

canvas{
    border:5px solid white;
    border-radius:20px;
    animation-name:cheese;
    animation-duration:4s;
    margin-top:50px;
    animation-iteration-count:infinite;
}

@keyframes cheese{
    from{ box-shadow:1px 1px 38px grey}
    to{ box-shadow:1px 1px 38px white}
}